@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, main, main .seccion__principal .seccion__principal__div .seccion__principal__div__subtitulo, main .seccion__secundaria {
  display: flex;
  flex-direction: column; }

body .barra {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .barra .barra__navegacion .barra__navegacion__lista, main .seccion__secundaria .seccion__secundaria__div2 .seccion__secundaria__div2__parrafos {
  display: flex;
  align-items: center;
  justify-content: space-around; }

main .img__fondo {
  display: flex;
  justify-content: start; }

body {
  background-color: #eee7db;
  min-height: 100vh; }
  body .barra {
    position: relative;
    top: 0;
    left: 0;
    background-color: #e8ddcd;
    padding: 0px;
    border: 0px solid #000;
    width: 100%;
    height: 95px;
    margin: 0px; }
    body .barra .barra__navegacion .barra__navegacion__lista {
      background-color: #e8ddcd;
      list-style: none;
      padding: 5px;
      margin-left: 10px; }
      body .barra .barra__navegacion .barra__navegacion__lista .barra__navegacion__lista__elemento a {
        color: #0f0907;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        text-decoration: none;
        width: 80px;
        margin: 5px;
        padding: 5px;
        bottom: 100px; }
  body .logo__container .logo__img {
    width: 95px;
    height: 95px;
    background-image: url(img/true-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; }
  body .title {
    display: flex;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 18px;
    align-items: left; }
    body .title .title__container {
      text-align: left;
      align-content: left;
      color: #0f0907;
      background-color: #e8ddcd;
      font-size: 65px;
      font-style: italic;
      font-family: 'Playfair Display', serif; }

main .img__fondo {
  border: 40px solid #eee7db;
  margin: 20px;
  padding: 20px; }
  main .img__fondo .img__fondo__mainimg {
    height: 100%;
    width: 100%;
    object-fit: contain; }

main .frase__inspo {
  color: #8c5936;
  font-family: 'Monsieur La Doulaise';
  font-style: italic;
  text-align: center;
  font-size: 45px;
  margin: 5cm; }

main {
  padding-bottom: 30px; }
  main .seccion__principal .seccion__principal__div .seccion__principal__div__subtitulo {
    align-items: center;
    font-size: 85px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 100; }
  main .seccion__secundaria {
    align-items: center;
    margin: 10px;
    padding: 10px; }
    main .seccion__secundaria .seccion__secundaria__div1 {
      width: 600px;
      height: 300px;
      overflow: hidden; }
      main .seccion__secundaria .seccion__secundaria__div1 .seccion__secundaria__div1__imagencarla {
        width: 600px;
        height: 300px;
        object-fit: cover; }
    main .seccion__secundaria .seccion__secundaria__div2 .seccion__secundaria__div2__parrafos {
      text-align: center;
      font-size: 45px;
      font-family: 'Poppins', sans-serif;
      font-weight: 100;
      margin-top: 20px; }

main section .subtitulo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 85px;
  font-style: italic;
  font-family: 'Poppins', sans-serif; }

main section .subtitulo__proyectos {
  display: flex;
  flex-direction: row; }

main section .subtitulo__proyectos__botones {
  background-color: #D0CABE;
  border: 10px solid #FFFFFF;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; }
  main section .subtitulo__proyectos__botones .subtitulo__proyectos__botones__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    flex-direction: row; }
  main section .subtitulo__proyectos__botones .subtitulo__proyectos__botones__boton {
    display: flex;
    flex-direction: row; }

main {
  align-items: center; }
  main .grid {
    width: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; }
    main .grid .empty {
      grid-row: span 1;
      grid-column: span 1; }
    main .grid .primer__item {
      margin-bottom: 60px;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      justify-self: center; }
      main .grid .primer__item .subtitulo {
        font-size: 85px;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
        font-weight: 100; }
    main .grid .segundo__item {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
      main .grid .segundo__item .resenas__todas__texto {
        text-align: center;
        font-size: 26px;
        font-family: 'Poppins', sans-serif; }
      main .grid .segundo__item .resenas__todas__firma {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        text-align: end; }
    main .grid .tercer__item {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
      main .grid .tercer__item .resenas__todas__texto {
        text-align: center;
        font-size: 26px;
        font-family: 'Poppins', sans-serif; }
      main .grid .tercer__item .resenas__todas__firma {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        text-align: end; }
    main .grid .cuarto__item {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
      main .grid .cuarto__item .resenas__todas__texto {
        text-align: center;
        font-size: 26px;
        font-family: 'Poppins', sans-serif; }
      main .grid .cuarto__item .resenas__todas__firma {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        text-align: end; }

footer {
  width: 100%;
  margin-top: auto; }
  footer .contactos {
    background-color: #e8ddcd;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    footer .contactos .contactos__subtitulo {
      color: #0f0907;
      background-color: #e8ddcd;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .contactos .contactos__network {
      display: flex;
      justify-content: space-evenly;
      margin: 15px;
      flex-direction: row; }

@media screen and (max-width: 426px) {
  body .barra {
    height: 195px; }
  body .barra .barra__navegacion .barra__navegacion__lista {
    flex-direction: column; }
  body .barra .barra__navegacion .barra__navegacion__lista .barra__navegacion__lista__elemento a {
    font-size: 20px; }
  body header .title {
    flex-direction: column; }
  body header .title .title__container {
    font-size: 25px; }
  body main .img__fondo {
    justify-content: start;
    margin: 0px;
    margin-top: 40px;
    border: 0px;
    padding: 0px; }
  body main .frase .frase__inspo {
    margin: 0cm; }
  body main .seccion__principal .seccion__principal__div .seccion__principal__div__subtitulo {
    font-size: 45px;
    margin-top: 10px; }
  body main .seccion__secundaria {
    width: auto;
    margin: 10px;
    padding: 0;
    border: 0; }
  body main .seccion__secundaria .seccion__secundaria__div1 {
    width: 400px;
    height: 200px; }
  body main .seccion__secundaria .seccion__secundaria__div1 .seccion__secundaria__div1__imagencarla {
    width: 400px;
    height: 200px; }
  body main .seccion__secundaria .seccion__secundaria__div2 {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0; }
  body main .seccion__secundaria .seccion__secundaria__div2 .seccion__secundaria__div2__parrafos {
    font-size: 25px;
    margin-top: 10px; }
  body main .grid {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  body main .grid .empty {
    display: none; }
  body main .grid .primer__item {
    margin-top: 10px; }
  body main .grid .primer__item .subtitulo {
    font-size: 45px; }
  body main .grid .segundo__item .resenas__todas__texto {
    font-size: 25px;
    justify-content: center; }
  body main .grid .segundo__item .resenas__todas__firma {
    font-size: 25px; }
  body main .grid .tercer__item .resenas__todas__texto {
    font-size: 25px;
    justify-content: center; }
  body main .grid .tercer__item .resenas__todas__firma {
    font-size: 25px; }
  body main .grid .cuarto__item .resenas__todas__texto {
    font-size: 25px;
    justify-content: center; }
  body main .grid .cuarto__item .resenas__todas__firma {
    font-size: 25px; } }

@media screen and (max-width: 1024px) and (min-width: 426px) {
  body .barra {
    height: 170px; }
  body .barra .barra__navegacion .barra__navegacion__lista {
    flex-direction: column; }
  body header .title {
    flex-direction: column; }
  body header .title .title__container {
    font-size: 45px; } }
