@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
/* RESET */
*{
    margin: 0;
    padding: 0;
}
/* HEADER */
body{
    background-color: #eee7db;
}
.barra{
    position: relative;
    top: 0;
    left: 0;
    background-color: #e8ddcd;
    padding: 0px;
    border: 0px solid #000;
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra__navegacion__lista{
    background-color: #e8ddcd;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.barra__navegacion__lista__elemento a{
    color: #0f0907;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    width: 80px;
    margin: 5px;
    padding: 5px;
    bottom: 100px;
}
.logo__img{
    width: 95px;
    height: 95px;
    background-image: url(img/true-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.title{
    display: flex;
    padding: 0px 10px 0px 10px;
}
.title__container{
    text-align: left;
    align-content: left;
    color: #0f0907;
    background-color: #e8ddcd;
    font-size: 65px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}
/* MAIN */
.muestra__subtitulo{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.muestra__fotos__izq{
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.muestra__fotos__izq img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .muestra__fotos__izq{
    display: grid;
    grid-template-columns: 1;
}
.muestra__fotos__der{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
} */