@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
/* RESET */
*{
    margin: 0;
    padding: 0;
}
/* HEADER */
body{
    background-color: #eee7db;
}
.barra{
    position: relative;
    top: 0;
    left: 0;
    background-color: #e8ddcd;
    padding: 0px;
    border: 0px solid #000;
    width: 100%;
    height: 95px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra__navegacion__lista{
    background-color: #e8ddcd;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.barra__navegacion__lista__elemento a{
    color: #0f0907;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    width: 80px;
    margin: 5px;
    padding: 5px;
    bottom: 100px;
}
.logo__img{
    width: 95px;
    height: 95px;
    background-image: url(img/true-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.title{
    display: flex;
    padding: 0px 10px 0px 10px;
}
.title__container{
    text-align: left;
    align-content: left;
    color: #0f0907;
    background-color: #e8ddcd;
    font-size: 65px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}
/* MAIN */
main{
    display: flex;
    flex-direction: column;
}

.subtitulo__resenas{
    display: flex;
    justify-content: center;
    font-size: 85px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.resenasengral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resena-theval {
    background-color: #eee7db;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.thevalnegrita{
    font-weight: bold;
}
.resena-nams{
    background-color: #eee7db;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    top: 150px;
}
.namsnegrita{
    font-weight: bold;
}
.resena-nomade{
    background-color: #eee7db;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.nomadenegrita{
    font-weight: bold;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee7db;
    padding: 10px;
}
.contactos{
    background-color: #e8ddcd;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactos__subtitulo{
    color: #0f0907;
    background-color: #e8ddcd;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos__subtitulo__network{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    flex-direction: row;
}

/* @media screen and (max-width: 426px) /*and (max-height: 915px){
    .barra{
        height: 195px;
    }
    .barra__navegacion__lista{
        flex-direction: column;
    }
    .barra__navegacion__lista__elemento a{
        font-size: 20px;
    }
    .title{
        flex-direction: column;
    }
    .title__container{
        font-size: 25px;
    }
    .img__fondo{
        justify-content: start;
        margin: 0px;
        margin-top: 40px;
        border: 0px ;
        padding: 0px;
    }
    .frase{
        margin: 0cm;
    }
}
@media screen and (max-width: 1024px) and (min-width: 426px) {
    .barra{
        height: 170px;
    }
    .barra__navegacion__lista{
        flex-direction: column;
    }
    .title{
        flex-direction: column;
    }
    .title__container{
        font-size: 45px;
    }
} */
