body {
    background-color: nth($paleta-colores, 1);
    @extend %flex-body;
    min-height: 100vh;
    .barra {
        position: relative;
        top: 0;
        left: 0;
        background-color: nth($paleta-colores, 2);
        padding: 0px;
        border: 0px solid #000;
        width: 100%;
        height: 95px;
        margin: 0px;
        @extend %flex-barra;
        .barra__navegacion {
            .barra__navegacion__lista {
                background-color: nth($paleta-colores, 2);
                list-style: none;
                @extend %flex-nav-li;
                padding: 5px;
                margin-left: 10px;
                .barra__navegacion__lista__elemento a {
                    color: nth($paleta-colores, 3);
                    font-size: nth($font-size, 2);
                    font-family: 'Poppins', sans-serif;
                    font-style: italic;
                    text-decoration: none;
                    width: 80px;
                    margin: 5px;
                    padding: 5px;
                    bottom: 100px;
                    }
                }
            }
        }
    .logo__container{
        .logo__img{
            width: 95px;
            height: 95px;
            background-image: url(img/true-logo.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
        }
    }
    .title{
        display: flex;
        padding: 0px 10px 0px 10px;
        font-weight: bold;
        font-size: 18px;
        align-items: left;
        .title__container{
            text-align: left;
            align-content: left;
            color: nth($paleta-colores, 3);
            background-color: nth($paleta-colores, 2);
            font-size: 65px;
            font-style: italic;
            font-family: 'Playfair Display', serif;
        }
    }
}
