main{
    @extend %flex-body;
    section{
        .subtitulo{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: nth($font-size, 6);
            font-style: italic;
            font-family: 'Poppins', sans-serif;
        }
    }
    .subtitulo__proyectos{
        @extend %flex-row-wrap-center;
        margin: 10px;
        border: 20px;
        padding: 10px;
        .subtitulo__proyectos__botones{
            background-color: #D0CABE;
            border: 10px solid #FFFFFF;
            max-width: 500px;
            margin: 20px;
            text-align: center;
            @extend %flex-center-column;
            padding: 20px;
            .subtitulo__proyectos__botones__img{
                width: 250px;
                height: 250px;
                object-fit: cover;
                margin-bottom: 20px;
            }
            .subtitulo__proyectos__botones__boton{
                background-color: nth($paleta-colores, 2);
                color: nth($paleta-colores, 3);
                border: none;
                padding: 10px 20px;
                text-align: center;
                font-size: nth($font-size, 1);
                cursor: pointer;
                width: 200px;
                height: 50px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
        }
    }
}