@media screen and (max-width: 426px){
    body .barra{
        height: 195px;
    }
    body .barra .barra__navegacion .barra__navegacion__lista{
        flex-direction: column;
    }
    body .barra .barra__navegacion .barra__navegacion__lista .barra__navegacion__lista__elemento a{
        font-size: nth($font-size, 2);
    }
    body header .title{
        flex-direction: column;
    }
    body header .title .title__container{
        font-size: nth($font-size, 3);
    }
    body main .img__fondo{
        justify-content: start;
        margin: 0px;
        margin-top: 40px;
        border: 0px ;
        padding: 0px;
    }
    body main .frase .frase__inspo{
        margin: 0cm;
    }
    body main .seccion__principal .seccion__principal__div .seccion__principal__div__subtitulo{
        font-size: nth($font-size, 4);
        margin-top: 10px;
    }
    body main .seccion__secundaria{
        width: auto;
        margin: 10px;
        padding: 0;
        border: 0;
    }
    body main .seccion__secundaria .seccion__secundaria__div1{
        width: 400px;
        height: 200px;
    }
    body main .seccion__secundaria .seccion__secundaria__div1 .seccion__secundaria__div1__imagencarla{
        width: 400px;
        height: 200px;
    }
    body main .seccion__secundaria .seccion__secundaria__div2{
        width: auto;
        margin: 0;
        padding: 0;
        border: 0;
    }
    body main .seccion__secundaria .seccion__secundaria__div2 .seccion__secundaria__div2__parrafos{
        font-size: nth($font-size, 3);
        margin-top: 10px;
    }
    body main .grid{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body main .grid .empty{
        display: none;
    }
    body main .grid .primer__item{
        margin-top: 10px;
    }
    body main .grid .primer__item .subtitulo{
        font-size: nth($font-size, 4);
    }
    body main .grid .segundo__item .resenas__todas__texto{
        font-size: nth($font-size, 3);
        justify-content: center;
    }
    body main .grid .segundo__item .resenas__todas__firma{
        font-size: nth($font-size, 3);
    }
    body main .grid .tercer__item .resenas__todas__texto{
        font-size: nth($font-size, 3);
        justify-content: center;
    }
    body main .grid .tercer__item .resenas__todas__firma{
        font-size: nth($font-size, 3);
    }
    body main .grid .cuarto__item .resenas__todas__texto{
        font-size: nth($font-size, 3);
        justify-content: center;
    }
    body main .grid .cuarto__item .resenas__todas__firma{
        font-size: nth($font-size, 3);
    }
}
@media screen and (max-width: 1024px) and (min-width: 426px) {
    body .barra{
        height: 170px;
    }
    body .barra .barra__navegacion .barra__navegacion__lista{
        flex-direction: column;
    }
    body header .title{
        flex-direction: column;
    }
    body header .title .title__container{
        font-size: nth($font-size, 4);
    }
}